In [44]:
import pandas as pd

In [45]:
df=pd.read_csv('cricket_matches.csv',sep=',')
df.head(3)

,match_details,result,scores,date,venue,round,home,away,winner,win_by_runs,...,innings1_wickets,innings1_overs_batted,innings1_overs,innings2,innings2_runs,innings2_wickets,innings2_overs_batted,innings2_overs,D/L_method,target
0,North Group:Durham v Nottinghamshire at Cheste...,Durham won by 6 wickets (with 5 balls remaining),Nottinghamshire 157/7 (20/20 ov); Durham 160/4...,13/06/2003,Chester-le-Street,North Group,Durham,Nottinghamshire,Durham,NaN,...,7.0,20.0,20.0,Durham,160.0,4.0,19.1,20.0,NaN,NaN
1,South Group:Hampshire v Sussex at Southampton-...,Hampshire won by 5 runs,Hampshire 153 (19.4/20 ov); Sussex 148/7 (20/2...,13/06/2003,Southampton,South Group,Hampshire,Sussex,Hampshire,5.0,...,10.0,19.4,20.0,Sussex,148.0,7.0,20.0,20.0,NaN,NaN
2,Midlands/Wales/West Group:Somerset v Warwicksh...,Warwickshire won by 19 runs,Warwickshire 188/7 (20/20 ov); Somerset 169 (2...,13/06/2003,Taunton,Midlands/Wales/West Group,Somerset,Warwickshire,Warwickshire,19.0,...,7.0,20.0,20.0,Somerset,169.0,10.0,20.0,20.0,NaN,NaN

In [46]:
cric_score=df[(df['home']==df['winner'])]
cric_score=cric_score[['home','winner','innings1','innings1_runs','innings2','innings2_runs']]

In [47]:
cric_score['Score']=0
pd.options.mode.chained_assignment = None #'warn'
cric_score['Score'][(cric_score['home']==cric_score['innings1'])] = cric_score['innings1_runs']
cric_score['Score'][(cric_score['home']==cric_score['innings2'])] = cric_score['innings2_runs']
cric_score=cric_score[['home','Score']]

In [48]:
cric_score=pd.DataFrame(cric_score.groupby(['home']).mean())
cric_score.to_csv('Q3_Part_1_Output.csv')
cric_score.head()

                         Score
home
Abahani Limited     172.000000
Abbottabad Falcons  139.454545
Abbottabad Region   182.666667
Abbottabad Rhinos   165.000000
Adelaide Strikers   163.111111