In [2]:
import pandas as pd

In [6]:
df=pd.read_csv('movies_awards.csv',sep=',')
df.head(3)

,totalSeasons,Plot,Rated,Response,Language,Title,Country,Writer,Metascore,imdbRating,...,Released,Actors,Year,Genre,Awards,Runtime,Type,Poster,imdbVotes,imdbID
0,none,NaN,NaN,True,English,Book of Love: The Definitive Reason Why Men Ar...,USA,Jeffrey W. Byrd; Eric George,NaN,6.6,...,14 Feb 2002,40 Glocc; Angelle Brooks; David Brown; Qadr Ca...,2002,Romance; Comedy,NaN,91 min,movie,NaN,79.0,tt0156376
1,none,NaN,NaN,True,Swedish,Anderssons älskarinna,Sweden,NaN,NaN,7.4,...,12 Feb 2001,Jakob Eklund; Ebba Forsberg; Örjan Landström; ...,2001,Drama,NaN,347 min,movie,NaN,34.0,tt0201374
2,none,NaN,NaN,True,English,Bad Blood,UK,Tony Marchant,NaN,5.6,...,11 Jan 2001,Emilia Fox; Serban Celea; Alex Jennings; Steve...,2001,NaN,NaN,NaN,movie,NaN,8.0,tt0207989

In [90]:
awards=df[['Title','Awards']]

In [92]:
awards=awards[awards['Awards'].isnull()==False ]  #awards.Awards.str.split('\s+').str[0]

In [102]:
'win' in awards['Awards'][:1]

False

In [95]:
a=pd.DataFrame(awards.Awards.str.split('&'))

In [93]:
awards.head(20)

,Title,Awards
3,Who Are You?,1 win & 2 nominations.
4,Skeletons in the Closet,1 win.
5,Cheerleader Ninjas,1 nomination.
6,The Girl from Paris,3 wins & 2 nominations.
7,The Final Curtain,1 win & 1 nomination.
11,Crazy/Beautiful,5 nominations.
13,The Anniversary Party,2 wins & 5 nominations.
15,The Quiet American,Nominated for 1 Oscar. Another 13 wins & 13 no...
18,Like Cat and Mouse,5 wins & 4 nominations.
24,Punch-Drunk Love,Nominated for 1 Golden Globe. Another 14 wins ...
25,Romeo,3 wins & 2 nominations.
28,Academia de baile Gloria,1 nomination.
31,Return to Never Land,5 nominations.
34,Better Luck Tomorrow,1 win & 2 nominations.
37,A Grande Família,22 wins & 44 nominations.
38,El lado oscuro del corazón 2,1 win & 3 nominations.
39,Slap Shot 2: Breaking the Ice,1 win & 8 nominations.
43,Van Wilder: Party Liaison,2 nominations.
47,Black Box BRD,6 wins & 1 nomination.
50,24,Won 2 Golden Globes. Another 68 wins & 201 nom...